# Environnements virtuels
venv/
env/
.venv/

# Fichiers Python
__pycache__/
*.py[cod]
*$py.class

# Fichiers Django
*.log
local_settings.py
db.sqlite3
media/

# Migrations (optionnel si tu veux les ignorer)
# **/migrations/

# Fichiers de configuration sensibles
.env

# Fichiers de build / packaging
build/
dist/
*.egg-info/

# Tests / couverture
.coverage
htmlcov/
.pytest_cache/

# IDE / éditeurs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Cache Django / Celery
celerybeat-schedule
